<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Math </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Grande área: Matemática e ciências da terra.</p>
    <a class="math.com" href="#">confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/site.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Math </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Grande área: Matemática e ciências da terra..</p>
    <a class="math.com" href="jana">Check it out</a>
  </div>
</div>
<div class="contents">
    <h3> Math </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Matemática e ciências da terra
    
    <p>
    <a class="math.com" href="#">confira</a>
  </div>
 </div>
 